{% extends 'base.html' %}
{% load static %}
{% load core_tags %}

{% block content %}
      <section class="main-section">

        <div class="main-content">
            <div class="main-center">
                <h1>
                  Откройте двери в мир финансово и бизнес-<br />
                  аналитики с магистерской программой
                </h1>
                <h2>«Финансовая экономика и бизнес-аналитика»!</h2>
                <div class="main-bottom">
                <div class="main-left">
                  <a href="{% url 'register' %}" class="invite-button">Подать заявку</a>
                  <a href="#contacts" class="main-button">Получить онлайн-консультацию</a>
                </div>
                <div class="main-right">
                  <p class="main-caption">
                    Входит в <span class="highlight">Топ-20</span>
                    лучших<br />
                    рейтинга факультетов<br />
                    московских вузов<br />
                    по версии hh.ru
                  </p>
                </div>
              </div>
              </div>
        </div>
      </section>

      <section class="info-section" id="about">

        <div class="info-wrapper">
          <p>
            Вы мечтаете о карьере в финансовом секторе? Хотите стать экспертом
            в области бизнес-аналитики и получить уникальные знания, которые
            помогут вам выделиться на рынке труда?
            <span class="white-text">
              Тогда наша магистерская программа
              <span class="highlight-white"> «Финансовая экономика и бизнес-аналитика» </span> —
              это именно то, что вам нужно!
            </span>
          </p>
        </div>
      
      </section>

      <section class="feature-wrapper" id="program">

        <div class="why-section">
          <div class="why-item title">
            <h2>Почему стоит выбрать<br>нашу программу?</h2>
          </div>
          <div class="why-item card">
            <h3>Команда профессионалов</h3>
            <p>Наши преподаватели — это опытные практики и учёные, которые готовы делиться своими знаниями и опытом, помогая вам развиваться и достигать успеха.</p>
          </div>
          <div class="why-item"></div>
          <div class="why-item card">
            <h3>Стажировка и трудоустройство</h3>
            <p>Это ваш шанс начать карьеру в финансовом секторе с реальным опытом работы и ценными контактами в ведущих финансовых организациях России и организациях реального сектора экономики.</p>
          </div>
          <div class="why-item card">
            <h3>Современные задания и навыки</h3>
            <p>Программа включает в себя дисциплины по финансовой аналитике, риск менеджменту, по использованию информационных технологий в задачах обработки финансово-экономической информации.</p>
          </div>
          <div class="why-item card">
            <h3>Бизнес-партнёрства</h3>
            <p>Наш партнёр один из крупнейших банков России - банк ВТБ, который активно участвует в образовательном процессе, а это значит, что вы получите актуальные знания и практический опыт</p>
          </div>
        </div>

        <div class="benefits-section">
            <div class="benefits-row benefits-row-1">
              <h2>Магистратура РГУ им. А.Н. Косыгина — это</h2>
              <div class="card wide salary-card">
              <div class="salary-left"><span class="price-highlight">от 120 000+₽</span></div>
              <div class="salary-info">
                По данным hh.ru<br>
                средняя зарплата<br>
                от 120 000 РУБ.<br>
                без опыта работы
              </div>
            </div>
          </div>
          <div class="benefits-row benefits-row-2">
            <div class="card">Возможность обучаться бесплатно</div>
            <div class="card">Вечерний график обучения и возможность совмещения с работой</div>
          </div>
          <div class="benefits-row benefits-row-3">
            <div class="card">Отсрочка от призыва на военную службу</div>
            <div class="card">Получение совершенно новой профессии</div>
            <div class="card">Поступление по внутренним экзаменам</div>
            <div class="card">Продолжение обучения в аспирантуре</div>
          </div>
          <div class="benefits-row benefits-row-4">
            <div class="card">Индустриальные партнеры,стажировки и практики в ведущих компаниях</div>
            <div class="card">Модульная система обучения</div>
            <div class="card">Возможность реализовать свою научную идею во время обучения</div>
            <div class="card">Возможность получить грантовую поддержку на свой стартап</div>
          </div>
          <div class="benefits-row benefits-row-5">
            <div class="card wider">Программа академической мобильности с зарубежными партнёрами</div>
            <div class="card wider">Сетевые международные программы с возможностью получения двух дипломов</div>
            <div class="card wider">Образовательный кластер в центре Москвы, 5 минут от м. Шаболовская, 10 минут от м. Октябрьская</div>
          </div>
        </div>
        <div class="stats-block">
          <div class="stats-row stats-row-1">
            <h2>Университет Косыгина<br>в цифрах</h2>
            <div class="card"><span class="stats-number">100+</span>лет в образовании</div>
            <div class="card"><span class="stats-number">100+</span>опытных<br>преподавателей-практиков</div>
          </div>
          <div class="stats-row stats-row-2">
            <div class="card"><span class="stats-number">200+</span>образовательных программ</div>
            <div class="card"><span class="stats-number">400+</span>компаний–партнёров</div>
            <div class="card"><span class="stats-number">13 000+</span>обучающихся</div>
            <div class="card"><span class="stats-number">3000+</span>мест в общежитии</div>
          </div>
          <div class="stats-row stats-row-3">
            <div class="card"><span class="stats-number">+2000</span>внебюджетных мест</div>
            <div class="card"><span class="stats-number">5</span>иностранных языков<br>на выбор</div>
          </div>
        </div>

      </section>

      <section class="faq-section">
        <h2>Вопросы и ответы:</h2>
        <div class="faq-item">
          <button class="faq-question">Что вы будете изучать?<span class="faq-icon">+</span></button>
          <div class="faq-answer">{% get_content 'faq_what_to_study' 'Ответ будет добавлен позже.' %}</div>
        </div>
        <div class="faq-item">
          <button class="faq-question">Как проходит обучение?<span class="faq-icon">+</span></button>
          <div class="faq-answer">{% get_content 'faq_how_to_study' 'Ответ будет добавлен позже.' %}</div>
        </div>
        <div class="faq-item">
          <button class="faq-question">Чему вы научитесь?<span class="faq-icon">+</span></button>
          <div class="faq-answer">{% get_content 'faq_what_skills' 'Ответ будет добавлен позже.' %}</div>
        </div>
        <div class="faq-item">
          <button class="faq-question">Кем вы сможете работать?<span class="faq-icon">+</span></button>
          <div class="faq-answer">{% get_content 'faq_career' 'Ответ будет добавлен позже.' %}</div>
        </div>
        <div class="faq-item">
          <button class="faq-question">Что вы получите по итогам обучения?<span class="faq-icon">+</span></button>
          <div class="faq-answer">{% get_content 'faq_outcome' 'Ответ будет добавлен позже.' %}</div>
        </div>

      </section>

      <section class="leaders-section" id="leaders">
        <div class="leaders-content">
          <h2 class="section-title">Академические руководители</h2>
          <div class="leaders-row">
            <div class="leader-card">
              <div class="leader-photo">
                <img src="{% static 'addons/anna.png' %}" alt="Генералова Анна" />
              </div>
              <div class="leader-info">
                <h3>Генералова Анна<br>Владимировна</h3>
                <p>Кандидат экономических наук, доцент, заведующая кафедрой Финансов и бизнес-аналитики РГУ им. А.Н. Косыгина, ведущий консультант крупных финансовых и инвестиционных компаний России, признанный эксперт в области финансовой экономики, инвестиционного анализа и цифровой трансформации бизнес-моделей. Автор более 160 научных и методических работ, участник федеральных и международных образовательных инициатив.</p>
              </div>
            </div>

            <div class="leader-card">
              <div class="leader-photo">
                <img src="{% static 'addons/natalia.png' %}" alt="Квач Наталия" />
              </div>
              <div class="leader-info">
                <h3>Квач Наталия<br>Михайловна</h3>
                <p>Кандидат технических наук, доцент кафедры финансов и бизнес-аналитики РГУ им. А.Н. Косыгина, эксперт в области цифровых финансов, финансово менеджмента и прикладной бизнес- аналитики, корпоративных финансах, автор более 160 научных публикаций, включая статьи в рецензируемых журналах по теме финансовой аналитики, моделей оценки рисков и цифровых инструментов в экономике.</p>
              </div>
            </div>
          </div>
          <h2 class="success-title">Истории успеха</h2>
          <div class="success-row">
            
            <div class="success-card">
              <div class="success-header">
                <img src="{% static 'addons/denis.png' %}" alt="Носков Денис" />
                <div class="success-name">
                  <h3>Носков Денис</h3>
                </div>
              </div>
              <p>Предприниматель, владелец кофейного бизнеса</p>
            </div>

            <div class="success-card">
              <div class="success-header">
                <img src="{% static 'addons/julia.png' %}" alt="Пушкина Юлия" />
                <div class="success-name">
                  <h3>Пушкина Юлия</h3>
                </div>
              </div>
              <p>Менеджер проектов в направлении по работе с эмитентами Тинькофф Инвестиции</p>
            </div>

            <div class="success-card">
              <div class="success-header">
                <img src="{% static 'addons/alina.png' %}" alt="Шушкевич Алина" />
                <div class="success-name">
                  <h3>Шушкевич Алина</h3>
                </div>
              </div>
              <p>Senior Database specialist ITE Expo International</p>
            </div>

            <div class="success-card">
              <div class="success-header">
                <img src="{% static 'addons/julia2.png' %}" alt="Жудина Юлия" />
                <div class="success-name">
                  <h3>Жудина Юлия</h3>
                </div>
              </div>
              <p>Главный аналитик отдела операционных рисков АО «Почтабанк»</p>
            </div>
          </div>
        </div>
      
      </section>

      <section class="contact-section" id="contacts-form">
        <div class="contact-wrapper">
          <h2>Оставьте заявку</h2>
          <form method="post" action="{% url 'index' %}#contacts-form">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <div class="error-message">
                    {{ field.errors.0 }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="main-button" style="font-size: 20px; padding: 15px;">Отправить</button>
          </form>
        </div>
      </section>

      <section class="partners">

        <h2>Наши партнёры</h2>
          <div class="partners-row partners-row-1">
            <img src="{% static 'addons/fns.svg' %}" alt="ФНС">
            <img src="{% static 'addons/omvd.svg' %}" alt="ОМВД России по городскому округу Серебряные Пруды">
            <img src="{% static 'addons/sber.svg' %}" alt="Сбербанк">
            <img src="{% static 'addons/vtb.svg' %}" alt="ВТБ">
            <img src="{% static 'addons/gazprom.svg' %}" alt="Газпромбанк">
            <img src="{% static 'addons/x5.svg' %}" alt="X5 Group">
            <img src="{% static 'addons/kaskad.svg' %}" alt="Каскад">
          </div>
          <div class="partners-row partners-row-2">
            <img src="{% static 'addons/psb.svg' %}" alt="ПСБ">
            <img src="{% static 'addons/rosseti.svg' %}" alt="Россети">
            <img src="{% static 'addons/kotofei.svg' %}" alt="Котофей">
            <img src="{% static 'addons/elit.svg' %}" alt="Элит Профит">
            <img src="{% static 'addons/termopol.svg' %}" alt="Термопол">
          </div>
          <div class="partners-row partners-row-3">
            <img src="{% static 'addons/fcg.svg' %}" alt="Fashion Consulting Group">
            <img src="{% static 'addons/vostok.svg' %}" alt="Восток">
            <img src="{% static 'addons/tekstprom.svg' %}" alt="Иновационный центр текстильной и лёгкой промышленности">
            <img src="{% static 'addons/favorit.svg' %}" alt="Favorit">
            <img src="{% static 'addons/sberlog.svg' %}" alt="Сбер Логистика">
            <img src="{% static 'addons/karamelli.svg' %}" alt="Карамелли">
          </div>
          <div class="partners-row partners-row-4">
            <img src="{% static 'addons/apu.svg' %}" alt="Агрегатор профессиональных услуг">
            <img src="{% static 'addons/asb.svg' %}" alt="АСБ Консалтинг групп">
            <img src="{% static 'addons/mf.svg' %}" alt="Mark Formelle">
            <img src="{% static 'addons/consplus.svg' %}" alt="КонсультантПлюс">
            <img src="{% static 'addons/rpn.svg' %}" alt="Роспотребнадзор">
            <img src="{% static 'addons/parij.svg' %}" alt="Парижская Коммуна">
          </div>
        </div>

      </section>
{% endblock %}
